.hero {
  height: 75vh;
  background: url("/public/Home.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.hero-content h1 {
  font-size: 48px;
  color: #000000;
}

.hero-content p {
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
}

.search-box {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
}

.search-box input {
  padding: 12px;
  border: 1px solid #ddd;
  width: 100%;
}

.search-box button {
  background: #e63946;
  border: none;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.hotel-list {
  padding: 50px 60px;
}

.hotel-list h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.hotels {
  display: flex;
  gap: 30px;
}

.hotel-card {
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background: #fff;
  padding-bottom: 20px;
}

.hotel-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.hotel-card h3 {
  margin: 10px;
}

.hotel-card p {
  margin: 0 10px;
  color: #555;
}

.hotel-card span {
  margin: 10px;
  color: #e63946;
  font-weight: 600;
  font-size: 18px;
}