.navbar {
  width: 95%;
  background: #1e3a8a;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffd700;
}
